body{
    font-family: Arial;
    background-color: #E0FFFF;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.container{
    text-align:center;
}

.roles{
    display: flex;
    gap:30px;
    margin: 40px 0;
}
.role-card{
    width: 200px;
    height:140px;
    background: rgb(136, 188, 190);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    border: 2px solid transparent;
    transition: 0.3s;

}
.role-card:hover{
    transform: scale(1.05);
}
.role-card.selected{
    border:2px solid #0c2f55
}
.next-btn{
    padding: 12px 40px;
    border:none;
    border-radius: 8px;
    background: #000000;
    color:rgb(255, 255, 255);
    cursor: pointer;
}
